@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* styles/globals.css ou um arquivo CSS global */
.hero-background {
  background-image: url('/imagem1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



