@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

/* styles/globals.css ou um arquivo CSS global */
.hero-background {
  background-image: url('/imagem1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



